@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-simple: 255 118 84;
    --color-luxury: 22 22 22;
    --color-rugged: 17 94 89;
  }
  * {
    @apply box-border;
  }
}

html {
  @apply bg-[#e9dbc0] bg-cover bg-center bg-no-repeat font-sans;
}

body {
  @apply max-w-[1440px] mx-auto md:px-0;
}

h2 {
  @apply text-[32px] font-bold leading-[34px]
}

p {
  @apply text-[#161616] font-medium text-base leading-7
}

.header-link {
  @apply no-underline text-[#4D4D4D] 
}

.header-link-active {
  @apply underline font-bold text-[#161616]
}

.header-link:hover {
  @apply text-[#161616] font-bold
}

.slider-button {
  @apply block absolute top-0 bottom-0 text-2xl
}

.host-links {
  @apply px-1 text-[#4D4D4D] text-base sm:text-lg
}

.host-links-active {
  @apply text-[#161616] text-base sm:text-lg underline font-bold px-1
}

